.btn {
    color: var(--secundario);
    background-color: var(--blanco);
    border: 1px solid var(--secundario);
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transform: all 0.3;
}

.btn-secundario {
    color: var(--black);
    background-color: var(--gris);
    border: 1px solid var(--secundario);
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transform: all 0.3;
}

.btn-sin-bordes{
    border: none; 
    background: none; 
    padding: 0; 
    cursor: pointer; 
    color: var(--blanco); 
    font-weight: 600;
    font-size: 2rem;
}

.jumbotron button { /*Estilos para cambiar display de botones a BLOCK y que ocupen todo el contenedor*/
    display: block;
    font-size: 1rem;
  
}

/*Estilos para botones de navegación*/

ul, li, a {     /*Quitar estilos a las listas*/
    list-style: none;
    text-decoration: none;
    list-style: none;
    color: var(--secundario);
  }
  

  /*ESTILOS PARA LOS INOCOS*/

  .contenedor-iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1080px;
    margin: auto;
    gap: 32px;
    text-align: center;
    margin-bottom: 32px ;  
}

.iconos {
   display: flex;
   align-items: center;
   /* border: 1px solid var(--primario); */
   border-radius: 8px;
   padding: 0 32px;
   /* background-color: var(--blanco); */
   width: 100%;
}

.icono {
   color: var(--primario); 
   font-size: 4.5rem;
   text-shadow: -5px 3px 8px var(--negro);
   align-items: center;
   
}

.texto-icono {
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
   font-weight: 600;
   text-decoration: none;
   padding: 24px;
}


